.not-found img {
    width: 500px;
}

.not-found h1 {
    color: #2F2E42;
}

.not-found a {
    text-decoration: none;
    color: blue;
}


/* Responsive for  mobile*/
@media screen and (min-width:320px) and (max-width:767px) {
    .not-found img {
        width: 320px;
    }
}