.home {
    max-width: 1024px;
    margin: 0 auto;
}

.home-text-style {
    color: #353535;
}

.header-section div {
    margin: 0 auto;
    /* height: 700px; */
    /* padding: 0px 50px 30px 50px; */
    padding-top: 20px;
    padding-bottom: 70px;
    color: #a8e1f4;
}

.header-description {
    width: 1024px;
    margin: 0 auto;
    color: '#a8e1f4';
    font-size: 20px;
}

.topic-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}