.home {
    max-width: 1024px;
    margin: 0 auto;
}

.home-text-style {
    color: #353535;
}

.header-section div {
    margin: 0 auto;
    padding-top: 20px;
    padding-bottom: 70px;
    color: #a8e1f4;
}

.header-description {
    width: 1024px;
    margin: 0 auto;
    color: '#a8e1f4';
    font-size: 20px;
}

.topic-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}


/* Responsive for  tablet*/
@media screen and (min-width:768px) and (max-width:1023px) {
    .topic-container {
        grid-template-columns: repeat(2, 1fr);
    }

    .header-description {
        width: 768px;
    }
}

/* Responsive for  mobile*/
@media screen and (min-width:320px) and (max-width:767px) {
    .topic-container {
        grid-template-columns: repeat(1, 1fr);
    }

    .header-description {
        width: 320px;
    }
}