.home {
    max-width: 1024px;
    margin: 0 auto;
}

.home-text-style {
    color: #353535;
}

section {
    margin-bottom: 100px;
}

.topic-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}